@import './mixins/flex';
@import './mixins/align';

@import './constants';
@import './containers/header';
@import './containers/sidebar';
@import './containers/contentview';

@import './components/folderfilelist';
@import './components/folderlistrow';
@import './components/filelistrow';

body {
    margin: 0;
    overflow: hidden;
}

.app-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
