.content-view-container {
  text-align: center;
  line-height: 100%;
  vertical-align: middle;
  position: absolute;
  margin-left: 101px;
  height: 100%;
  width: 100%;
  background-color: $PW-light-grayn;
}
