$PW-dark-cyan: #033E41;
$PW-soft-red: #F49B52;
$PW-soft-orange: #EF894C;
$PW-bright-orange: #F2713E;
$PW-dark-orange: #746448;
$PW-desaturated-blue: #485874;
$PW-gray-blue: #d6dbe5;
$PW-dark-red: #A3503A;
$PW-black: #000000;
