@import './constants';
@import './components/header';
@import './components/sidebar';
@import './components/contentview';

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.app-container {
  box-sizing: border-box;
  background-color: $PW-gray-blue;
  height: 100%;
  width: 100%;
  position: absolute;
}
